<div class="app">
    <header class="header">
        <div class="container header__container" >
            <div>
                <a [routerLink]="['/classification']" class="header__item" [routerLinkActive]="['is-active']">Проверить текст</a>
            </div>
            <div>
                <a [routerLink]="['/articles']" [queryParams]="{ newsCategory: 'ALL' }" class="header__item" [routerLinkActive]="['is-active']">Просмотреть статьи</a>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
