.app {
    display: flex;
    min-height: 100%;
    position: relative;
    flex-direction: column;
    width: 100%;
}

.content {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.container {
    height: 100%;
    padding-top: 20px;
}

.header {
    box-shadow: 0 2px 60px 0 #f3f7fa;
    background-color: white;
    height: 72px;
    &__container {
        display: flex;
        justify-content: space-evenly;
        font-size: 24px;
        padding: 7px 15px 0;
    }

    &__item {
        position: relative;
        padding: 16px 0 22px;
        display: flex;
        color: black;
        text-decoration: none !important;

        &.is-active {
            &:before {
                content: "";
                display: block;
                position: absolute;
                left: -3px;
                right: -3px;
                bottom: 0;
                height: 4px;
                background: #209CEE;
            }
        }
    }
}
